* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar-left content sidebar-right"
        "middle middle footer";
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: lightblue;
}

.sidebar-left {
    grid-area: sidebar-left;
    background-color: peachpuff;
}

.content {
    grid-area: content;
    background-color: white;
}

.sidebar-right {
    grid-area: sidebar-right;
    background-color: peachpuff;
}

.middle {
    grid-area: middle;
    background-color: lightgreen;
}

.footer {
    grid-area: footer;
    background-color: lightblue;
}
